@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
.logo img {
	width:80%;
}
.nav{
	height:100%;
/*	background: blue;*/
	align-items: center;
	display:flex;
	justify-content: flex-end ;
}
.nav li{ 
	margin-left: 40px;
}
.nav ul {
	list-style-type: none ;
	display:flex;
	justify-content: flex-end ;
}
.nav li a {
	color:#1F1F1F ;
	font-weight: bold;
	text-decoration: none;
}
.nav li a:hover{
	opacity: 0.8 ;
}
.content-banner{
	margin-bottom:29px;
		
}
.content-banner h1{
	font-size: 44px;
	font-weight: italic ;
	font-family: Montserrat;
}
.line{
	height:3px;
	width:50px;
	background:#9043C3;
	margin:20px 0;
}
.content-banner p{
	font-size: 20px;
	margin-bottom: 54px;
}
.content-banner a{
	text-decoration: none;
}
.btn{
/*	background:#9043C3;*/
	padding: 15px 40px ;
}
.btn-primery{
	background:#4B19F4;
	border: 1.5px solid #9043C3;
	color:white;
}
.btn-outline{
	border: 1.5px solid #9043C3;
	color:black;
	
}
.col-6 img{
	width: 100%
}
.title{
	text-align: center;
}

.title h1{
	font-size: 40px
}
.title p{
	font-size: 20px
}
.title .line{
	margin: 12px auto;
}
.app{
	text-align: center;
/*	border-radius:50px ;*/
/*	background:red;*/
}

.app h1{
	font-size: 27px; 
	margin: 15px 0 10px ;
}
.app p{
	font-size:14px;
}
.color{
	width:100%;
	height:500px;
	background: #F0F0F0;
}
.col-5 img {
	width:90%;
	margin-left: 50px
}
.footer{
	height:150px;
	width:100%;
/*	background:red;*/
}
.title-1 p{
	font-size:24px;
	text-align: center;
	
}
.logo-footer img{
	width:17%;
	display:block;
	margin-left: auto;
	margin-right: auto;
}
.elip img{
	width:40%;
	margin-bottom: -128px;
	margin-left: 3px
}